[AWS]
ACCESS_KEY_ID=
SECRET_ACCESS_KEY=
AWS_REGION=

[CLUSTER]
host = 
cluster_id = 
db_name = 
db_user = 
db_password = 
db_port = 5439

[IAM_ROLE]
arn = 

[S3]
log_data = 's3://udacity-dend/log-data'
log_jsonpath = 's3://udacity-dend/log_json_path.json'
song_data = 's3://udacity-dend/song-data'